REACT_APP_API_URL=https://ai-study-helper-73b1.onrender.com
REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_test_51U9EWnG8vVgzXhz7C4JUWHltBZaW5t6HonVYMKRrbelG3apO1BxJPSTk4q3tRhpuv41YlxX7vFgQico568A412Se002tB4QbLC
